doctype html
html(ng-app="app")
    head
        title= title
        link(rel="stylesheet", href="public/css/bootstrap.min.css")
        link(rel="stylesheet", href="public/css/style.css")

    body
        div(ng-controller="chatController", ng-init="init('#{user._id}', '#{user.nombre}')")
            div#contenedor  
              div#list-contactos.transparent.col-md-2.well.pull-left
                  button#add-contacto(type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"
                  ng-click="getUsuarios()") Agregar Contacto
                  <!-- Modal -->
                  div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
                    div(class="modal-dialog" role="document")
                      div(class="modal-content")
                        div(class="modal-header")
                          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") Cerrar
                          h4(class="modal-title" id="myModalLabel") Usuarios Disponibles
                        div(class="modal-body")
                          table(class="table table-striped")
                            thead
                              tr
                                th Nombre
                                th Usuario
                                th
                            tbody
                              tr(ng-repeat="usuario in usuarios")
                                td {{usuario.nombre}}
                                td {{usuario.usuario}}
                                td
                                  button.btn-lista.pull-right(class="mdl-button" type="button" ng-click="agregarContacto(usuario._id)") Agregar
                  br
                  br
                  div#contenedor-contactos
                    ul(class="list-group")
                      li(ng-click="getMensajesChat(contacto._id)" class="list-group-item" ng-repeat="contacto in contactos")
                        a() {{contacto.nombre}}
              div#contenedor-chat  
                div.transparent.col-md-10.well.pull-right.chat-section(ng-show="messages.length >= 0")
                    ul.chat
                        li.left.clearfix(ng-repeat="mensaje in chat.mensajes")
                            div.chat-body.clearfix()
                                p
                                    strong {{mensaje.nombrePersona}} dice:
                                |   
                                div.chat-text {{mensaje.texto}}
                div.transparent.well.col-md-10.pull-right.chat-box
                  form.form-horizontal(method="POST" action="#")
                      div.col-md-8.form-group.name-user
                          label(for="nombrePersona") ¡Hola #{user.nombre}!
                      div.col-md-12
                          textarea#texto.form-control.pull-right(placeholder="Escribe un mensaje aqui" rows="4" type="text" ng-model="mensaje.texto" name="texto" ng-required="true")
                      div.col-md-11
                          button.btn.btn-default.pull-right(type="button" ng-disabled="!(mensaje.texto)" ng-click="enviarMensajeNuevo()") Enviar
                    form.div-salida(method="GET" action="/logout")
                      button.btn.btn-default.pull-right(type="submit")
                        img(src="public/assets/ico/logout.png")

        script(type="text/javascript" src="public/js/angular.min.js")
        script(type="text/javascript" src="public/js/app.js")
        script(type="text/javascript" src="public/js/socket.io-client-master/socket.io.js")
        script(type="text/javascript", src="public/js/jquery-1.12.3.min.js")
        script(type="text/javascript", src="public/js/bootstrap.min.js")
        script(type="text/javascript" src="public/js/animaciones.js")
        script(src="public/assets/js/jquery.backstretch.min.js")
        script(src="public/assets/js/scripts.js")